
@model Library.Models.Book

<h2>Add an author</h2>

<h4>Add an author to this book: @Html.DisplayFor(model => model.BookTitle)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BookId)

    @Html.Label("Select Author")
    @Html.DropDownList("AuthorId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Books", "Index")</p>
