@model Library.Models.Book;
@using Library.Models;

<h2>Book Details</h2>
<hr />
<h3>Title: @Html.DisplayFor(model => model.BookTitle)</h3>
<h3>Genre: @Html.DisplayFor(model => model.Genre)</h3>

@foreach(var join in Model.Authors)
{
<h3>Author: @Html.ActionLink($"{@join.Author.AuthorName}", "Details", "Authors", new {id = @join.AuthorId })</h3>
    
} 

<p>@Html.ActionLink("Add author", "AddAuthor", new { id = Model.BookId })</p>