@model Library.Models.Author;
@using Library.Models;

<h2>Author Details</h2>
<hr />
<h3>Author: @Html.DisplayFor(model => model.AuthorName)</h3>

<h5>Bio: @Html.DisplayFor(model => model.AuthorBio)</h5>

<h5>Genre: @Html.DisplayFor(model => model.AuthorGenre)</h5>

<h4>Books the author has written:</h4>
  <ul>
  @foreach(var join in Model.Books)
  {
    <li>@Html.ActionLink($"{@join.Book.BookTitle}", "Details", "Books", new {id = @join.BookId})</li>
    @using (Html.BeginForm("DeleteBook", "Books"))
    {
      @Html.Hidden("joinId", @join.AuthorBookId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
